@keyframes small-arrow {
    0% {
        border-color: orange;
    }
    
    33% {
        border: none;
    }
}

@keyframes midlle-arrow {
    33% {
        border-color: orange;
    }
    
    66% {
        border: none;
    }
}

@keyframes big-arrow  {
    66% {
        border-color: orange;
    }
    
    99% {
        border: none;
    }
}

@keyframes border  {
    25% {
        border-top: 1px solid orange;
        transition: 1s;
    }

    50% {
        border-top: 1px solid orange;
        border-right: 1px solid orange;
        transition: 1s;
    }

    75% {
        border-top: 1px solid orange;
        border-right: 1px solid orange;
        border-bottom: 1px solid orange;
        transition: 1s;
    }

    100% {
        border: 1px solid orange;
        transition: 1s;
    }
}