

@keyframes arrow {
    0% {
        border-color: orange;
    }

    50% {
        border: none;
    }

    100% {
        border-color: orange;
    }
}


@keyframes border  {
    25% {
        border-top: 1px solid orange;
        transition: 1s;
    }

    50% {
        border-top: 1px solid orange;
        border-right: 1px solid orange;
        transition: 1s;
    }

    75% {
        border-top: 1px solid orange;
        border-right: 1px solid orange;
        border-bottom: 1px solid orange;
        transition: 1s;
    }

    100% {
        border: 1px solid orange;
        transition: 1s;
    }
}

@keyframes socialColor {
    30%{ color: white;}
    50%{ color: $main-color;}
    70%{ color: white;}
}