

@keyframes arrow {
    0% {
        border-color: $main-color;
    }

    50% {
        border: none;
    }

    100% {
        border-color: $main-color;
    }
}


@keyframes border  {
    25% {
        border-top: 1px solid orange;
        transition: 1s;
    }

    50% {
        border-top: 1px solid orange;
        border-right: 1px solid orange;
        transition: 1s;
    }

    75% {
        border-top: 1px solid orange;
        border-right: 1px solid orange;
        border-bottom: 1px solid orange;
        transition: 1s;
    }

    100% {
        border: 1px solid orange;
        transition: 1s;
    }
}

@keyframes socialColor {
    30%{ color: white;}
    50%{ color: $main-color;}
    70%{ color: white;}
}


@keyframes moveLeft {
    0%{ background-position: right;}
    100%{ background-position: left;}
}

@keyframes cleanCode {
    0%{ background: url("../img/dirtyCode.png") left;
        background-size: cover;}
    100%{ background: url("../img/clean.jpg") right;
        background-size: cover;}
}

@keyframes technoMove {
    0%{ background: url("../img/technology.jpg") left;
            background-size: cover;}
    100%{ background: url("../img/technology2.jpg") right;
        background-size: cover;}
}

@keyframes sherlock {
    0%{ background: url("../img/sherlock.jpg");
        background-size: cover;}
    100%{ background: url("../img/sherlock-active.jpg");
        background-size: cover;}
}

@keyframes proger {
    0%{ filter: grayscale(0%); }
    25%{ filter: grayscale(50%); }
    50%{ filter: grayscale(100%); }
    75%{ filter: grayscale(50%); }
    100%{ filter: grayscale(100%); }
}

@keyframes aboutMove {
    0% {
        background-position: left;
    }
    25% {
        background-position: top;
    }

    50% {
        background-position: right;
    }
    75% {
        background-position: bottom;
    }
    100% {
        background-position: bottom;
    }
}
