@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@font-face {
  font-family: "Myriad-Pro";
  src: url("../fonts/Myriad-Pro-Regular.ttf");
}

@font-face {
  font-family: "StrokeyBacon";
  src: url("../fonts/StrokeyBacon.ttf");
}

@keyframes arrow {
  0% {
    border-color: orange;
  }
  50% {
    border: none;
  }
  100% {
    border-color: orange;
  }
}

@keyframes border {
  25% {
    border-top: 1px solid orange;
    transition: 1s;
  }
  50% {
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    transition: 1s;
  }
  75% {
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    transition: 1s;
  }
  100% {
    border: 1px solid orange;
    transition: 1s;
  }
}

@keyframes socialColor {
  30% {
    color: white;
  }
  50% {
    color: orange;
  }
  70% {
    color: white;
  }
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body > * {
  padding: 0 80px;
}

.mini-logo {
  display: none;
}

.logo-menu, .logo-description {
  display: none;
}

.button, .header .nav-bar .button--header, .about-us-read-more {
  height: 60px;
  width: 253px;
  border: 3 px solid orange;
  border-radius: 2px;
  border: none;
  border-bottom: 10px solid #ad6e00;
  outline: none;
  font-family: "Raleway";
  font-size: 0.875rem;
  font-weight: bold;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.button:active, .header .nav-bar .button--header:active, .about-us-read-more:active {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
  border-bottom: 0px solid #ad6e00;
}

.subheading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.subheading:before {
  position: absolute;
  top: 0;
  justify-self: center;
  content: url("../img/waves.png");
}

.to-Top .big-arrow {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 31px;
  height: 31px;
  transform: rotate(45deg);
  border: 3px solid orange;
  border-right: none;
  border-bottom: none;
  padding: 0;
  margin: 0;
  z-index: 99;
  animation: arrow 2s linear 0.6s infinite;
}

.to-Top .middle-arrow {
  display: block;
  position: fixed;
  bottom: 12px;
  right: 18px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border: 3px solid orange;
  border-right: none;
  border-bottom: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  animation: arrow 2s linear 0.3s infinite;
}

.to-Top .small-arrow {
  display: block;
  position: fixed;
  bottom: 5px;
  right: 22px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border: 3px solid orange;
  border-right: none;
  border-bottom: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  animation: arrow 2s linear 0.1s infinite;
}

.to-Top .zzz {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  z-index: 150;
  transform: rotate(45deg);
}

.header {
  display: grid;
  grid-template-rows: 120px 100px 450px 100px;
  align-content: center;
  width: 100%;
  padding: 0;
  background: url("../img/main-background.jpg") no-repeat center;
  background-size: cover;
}

.header .nav-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 20px;
  justify-content: space-around;
  padding: 0 80px;
  grid-row: 1;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.header .nav-bar .logo {
  display: grid;
  grid-column: 1;
  width: auto;
  height: 100px;
}

.header .nav-bar .menu-link {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 20px;
  justify-content: end;
}

.header .nav-bar .menu-link li {
  display: inline;
  border-bottom: 2px solid transparent;
}

.header .nav-bar .menu-link li:hover {
  border-bottom: 2px solid orange;
}

.header .nav-bar a {
  text-decoration: none;
  color: #f8f9fa;
  font: bold 0.9rem "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  text-transform: uppercase;
}

.header .nav-bar .button--header {
  grid-column: 3;
  justify-self: end;
  height: 46px;
  width: 153px;
  background-color: transparent;
  color: orange;
}

.header .header-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 2fr 2fr 3fr 1fr;
  grid-row: 3;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 80px;
  padding: 30px 30px;
}

.header .header-content .heading {
  grid-column: 1/span 3;
  grid-row: 1;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  line-height: 0.65;
}

.header .header-content .heading-slogan {
  display: block;
  color: orange;
  font-family: "Bringin";
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-transform: none;
}

.header .header-content .description {
  grid-row: 3;
  grid-column: 1/span 2;
  color: white;
  font-family: "Myriad Pro";
  font-size: 2rem;
  font-weight: normal;
}

.header .header-content .button, .header .header-content .nav-bar .button--header, .header .nav-bar .header-content .button--header, .header .header-content .about-us-read-more {
  grid-column: 1;
  grid-row: 5;
}

.header .call-back-form-header, .header .close-form {
  position: fixed;
  display: none;
  grid-row-gap: 20px;
  grid-row: 8;
  grid-column: 2 / span 2;
  background: url("../img/contacts-bg.png");
  background-size: cover;
  padding: 15px 30px 50px;
  border-radius: 10px;
  z-index: 10;
}

.header .call-back-form-header .contact-title, .header .close-form .contact-title {
  display: grid;
  height: 35px;
  font-family: 'Myriad-Pro', sans-serif;
  font-size: 2.25rem;
  color: orange;
  text-transform: uppercase;
  text-align: center;
  vertical-align: bottom;
  letter-spacing: 0.15em;
}

.header .call-back-form-header .close-form, .header .close-form .close-form {
  display: grid;
  width: 30px;
  font-family: "Myriad-Pro", sans-serif;
  font-size: 30px;
  line-height: 16px;
  cursor: pointer;
  margin: 0;
  background: none;
  padding: 0;
  margin-top: 15px;
  margin-left: 30px;
}

.header .call-back-form-header .close-form:hover, .header .close-form .close-form:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.header .call-back-form-header .input, .header .close-form .input {
  border-radius: 10px;
  border: 0;
  padding: 20px;
}

.header .call-back-form-header .contact-send, .header .close-form .contact-send {
  border-radius: 20px;
  width: 100%;
}

.header #overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: rgba(0, 0, 0, 0.6);
  /* чернaя */
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */
  filter: blur(5px);
}

.about-us {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 110px repeat(3, auto) 100px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-image: url("../img/about-us-background.png");
}

.about-us-title {
  grid-column: 1 / span 6;
  grid-row: 1;
}

.about-us .about-description1, .about-us .about-description2, .about-us .about-description3 {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 26px;
  text-align: justify;
  color: #949494;
  align-content: center;
}

.about-us .about-description2, .about-us .about-description3 {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.about-us .about-description3 {
  grid-column: 5 / span 2;
  grid-row: 4;
}

.about-us-read-more {
  grid-row: 5;
  justify-self: end;
  height: 46px;
  width: 153px;
}

.about-us .big-photo {
  grid-column: 5 / span 2;
  grid-row: 2 / span 2;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-us .small-photo {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.advantages {
  display: grid;
  grid-template-rows: 110px 75px auto 100px;
}

.advantages-title {
  grid-row: 1;
}

.advantages .quality-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-row: 3;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.4);
}

.advantages .quality-wrapper .quality {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/span 2;
}

.advantages .quality-wrapper .quality .quality__description-block {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: start;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #777777;
  padding: 47px 40px;
}

.advantages .quality-wrapper .quality .quality__description-block .quality__epigraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #16b5ef;
  text-transform: uppercase;
}

.advantages .quality-wrapper .quality .quality__description-block .quality__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

.advantages .quality-wrapper .quality .quality__description-block .quality__description {
  font-family: 'Myriad-Pro', sans-serif;
  font-size: 1.375rem;
}

.advantages .quality-wrapper .quality .quality__description-block:after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
}

.advantages .quality-wrapper .quality--1 {
  grid-row: 1;
}

.advantages .quality-wrapper .quality--1 .quality__image {
  grid-column: 1;
  background: url("../img/technology.jpg") center;
  background-size: cover;
  transition: 0.5s;
}

.advantages .quality-wrapper .quality--1 .quality__image:hover {
  background: url("../img/technology2.jpg") center;
  background-size: cover;
  transition: 0.5s;
}

.advantages .quality-wrapper .quality--1 .quality__description-block {
  grid-column: 2;
}

.advantages .quality-wrapper .quality--1 .quality__description-block:after {
  left: -45px;
  top: 70px;
  border-right: 25px solid white;
}

.advantages .quality-wrapper .quality--2 {
  grid-row: 2;
}

.advantages .quality-wrapper .quality--2 .quality__image {
  grid-column: 2;
  background: url("../img/price.jpeg") left;
  background-size: cover;
}

.advantages .quality-wrapper .quality--2 .quality__description-block {
  grid-column: 1;
  grid-row: 1;
}

.advantages .quality-wrapper .quality--2 .quality__description-block:after {
  right: -45px;
  top: 70px;
  border-left: 25px solid white;
}

.advantages .quality-wrapper .quality--3 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 3;
  grid-row: 1/span 2;
}

.advantages .quality-wrapper .quality--3 .quality__image {
  grid-column: 1;
  grid-row: 1;
  background: url("../img/clean.jpg") center;
  background-size: cover;
}

.advantages .quality-wrapper .quality--3 .quality__description-block {
  grid-column: 1;
  grid-row: 2;
}

.advantages .quality-wrapper .quality--3 .quality__description-block:after {
  left: 70px;
  top: -40px;
  border-bottom: 25px solid white;
}

.tech-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 110px 60px 400px 130px;
  border: 1px solid red;
}

.tech-bar .tech-bar-title {
  grid-column: 2;
  grid-row: 1;
}

.tech-bar .tech-bar-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column: 1 / span 3;
  grid-row: 3;
}

.tech-bar .tech-bar-wrapper .img-technology {
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.tech-bar .tech-bar-wrapper .img-technology img {
  width: 150px;
  margin-bottom: 20px;
}

.tech-bar .tech-bar-wrapper .img-technology:after {
  transition: all 0.4s ease-out;
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 1px solid red;
  left: -100%;
}

.tech-bar .tech-bar-wrapper .img-technology:hover:after {
  left: 0;
}

.team-wrapper {
  display: grid;
  grid-template-rows: 110px 100px auto 100px;
  background-color: #e8e8e8;
}

.team-wrapper .team-title {
  grid-row: 1;
}

.team-wrapper .team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  justify-content: space-between;
  grid-row: 3;
}

.team-wrapper .team .associate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 382px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.team-wrapper .team .associate .social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50px;
  margin-bottom: auto;
  padding: 10px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.team-wrapper .team .associate .social i {
  cursor: pointer;
}

.team-wrapper .team .associate .position {
  font-family: sans-serif;
  font-size: 1rem;
  color: orange;
  line-height: 22px;
  padding: 0 20px;
}

.team-wrapper .team .associate .name {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
  padding: 20px;
  color: #ffffff;
}

.team-wrapper .team .associate:hover i:nth-child(1) {
  animation: socialColor 2s linear infinite;
}

.team-wrapper .team .associate:hover i:nth-child(2) {
  animation: socialColor 2s linear 0.7s infinite;
}

.team-wrapper .team .associate:hover i:nth-child(3) {
  animation: socialColor 2s linear 1.4s infinite;
}

.team-wrapper .team .sed {
  background-image: url("../img/sed.jpg");
}

.team-wrapper .team .zoom {
  background-image: url("../img/zoom.jpg");
}

.team-wrapper .team .backend {
  background-image: url("../img/jchan.jpg");
}

.team-wrapper .team .design {
  background-image: url("../img/eniston.jpg");
}

.team-wrapper .team .seo {
  background-image: url("../img/lourens.jpg");
}

.portfolio {
  display: grid;
  grid-template-columns: 100px  30px 1fr;
  grid-template-rows: 110px auto auto 150px;
  grid-gap: 20px;
}

.portfolio .portfolio-title {
  grid-row: 1;
  grid-column: 1/span 3;
}

.portfolio .portfolio-filter {
  display: grid;
  grid-row-gap: 10px;
  align-content: start;
  grid-column: 1;
  grid-row: 2;
}

.portfolio .portfolio-filter input {
  display: none;
}

.portfolio .portfolio-filter input:checked + label {
  background-color: orange;
}

.portfolio .portfolio-filter label {
  display: grid;
  align-content: center;
  width: 100px;
  height: 30px;
  border-radius: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.portfolio .portfolio-filter label:hover {
  background: orange;
}

.portfolio .portfolio-gallery {
  grid-column: 3;
  grid-row: 2;
}

.portfolio .portfolio-gallery > div {
  width: 100%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

.portfolio .portfolio-gallery > div img {
  width: 100%;
  height: auto;
}

.portfolio .portfolio-gallery:hover > div {
  box-shadow: 0 0 15px 1px black;
  transition: 0.3s;
}

.portfolio .portfolio-gallery > div:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

.portfolio .gallery-normal {
  display: grid;
  grid-template-columns: repeat(3, 250fr);
  grid-template-rows: 200px 50px 200px;
  grid-gap: 50px;
  justify-content: space-around;
}

.portfolio .gallery-normal .icon-site {
  height: 100%;
  overflow: hidden;
}

.portfolio .gallery-normal .showScroll {
  overflow-y: scroll;
}

.portfolio .gallery-normal .project-detailed {
  display: none;
}

.portfolio .gallery-normal div:nth-child(odd) {
  grid-row: span 2;
}

.portfolio .gallery-normal div:nth-child(5) {
  grid-column: 2;
  grid-row: 2/ span 2;
}

.portfolio .gallery-detailed {
  display: grid;
  grid-template-columns: repeat(4, 200fr);
  grid-template-rows: repeat(6, 75px);
  justify-content: space-around;
  grid-gap: 20px;
  align-self: center;
}

.portfolio .gallery-detailed .icon-site {
  height: 100%;
  overflow: hidden;
}

.portfolio .gallery-detailed .showScroll {
  overflow-y: scroll;
}

.portfolio .gallery-detailed > div {
  grid-row-end: span 2;
}

.portfolio .gallery-detailed > div:first-child {
  grid-column: 1/span 3;
  grid-row: 1/span 4;
  grid-column-gap: 30fr;
}

.portfolio .gallery-detailed > div:nth-child(2) {
  grid-row-end: span 3;
}

.portfolio .gallery-detailed > div:nth-child(3) {
  grid-row-end: span 3;
}

.portfolio .project-detailed {
  display: none;
}

.portfolio .activeElem {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.portfolio .activeElem .icon-site {
  height: auto;
}

.portfolio .activeElem > .project-detailed {
  display: grid;
  align-content: space-around;
  padding: 10px 20px;
  font-family: 'Open Sans',sans-serif;
  color: white;
  background: url("../img/project-bg.jpg") #333333;
}

.portfolio .activeElem > .project-detailed .project-name {
  font-family: "Bringin",'Pacifico', cursive;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
}

.portfolio .activeElem > .project-detailed .technology-heading {
  font-size: 1.2rem;
  color: orange;
  padding: 0;
  margin-bottom: 10px;
}

.portfolio .activeElem > .project-detailed .project-technology {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.portfolio .activeElem > .project-detailed li {
  list-style-type: none;
  font-size: 0.9rem;
  padding-left: 20px;
}

.portfolio .activeElem > .project-detailed .button, .portfolio .activeElem > .project-detailed .header .nav-bar .button--header, .header .nav-bar .portfolio .activeElem > .project-detailed .button--header, .portfolio .activeElem > .project-detailed .about-us-read-more {
  text-transform: none;
  width: 140px;
  height: 30px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.feedback {
  display: grid;
  grid-template-rows: 110px 70px auto 40px auto 100px;
  grid-template-columns: 100%;
  justify-content: center;
  background: #e8e8e8;
}

.feedback .feedback-title {
  grid-row: 1;
}

.feedback .contact {
  display: grid;
  grid-template-columns: 1fr 600px;
  grid-template-rows: repeat(3, 50px) 10px 60px;
  grid-gap: 20px;
  grid-row: 3;
}

.feedback .contact textarea:focus, .feedback .contact input:focus {
  outline: none;
}

.feedback .contact .input {
  border: 0;
  padding: 20px 20px;
  text-align: justify;
  transition: 1s;
  border-radius: 10px;
}

.feedback .contact .input:hover, .feedback .contact .textarea-wrapper:hover {
  box-shadow: 0 0 2px 2px rgba(255, 165, 0, 0.5);
  transition: 0.5s;
}

.feedback .contact .input:focus, .feedback .contact .textarea-wrapper:focus {
  box-shadow: 0 0 2px 2px rgba(255, 165, 0, 0.5);
}

.feedback .contact .input::-webkit-input-placeholder, .feedback .contact textarea-wrapper::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.feedback .contact .input:focus::-webkit-input-placeholder, .feedback .contact .textarea-wrapper:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.feedback .contact .user-name {
  grid-column: 1;
  grid-row: 1;
}

.feedback .contact .user-phone {
  grid-column: 1;
  grid-row: 2;
}

.feedback .contact .user-mail {
  grid-column: 1;
  grid-row: 3;
}

.feedback .contact .textarea-wrapper {
  grid-column: 2;
  grid-row: 1/span 3;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.feedback .contact .textarea-wrapper .user-message {
  height: 100%;
  width: 100%;
  resize: none;
  overflow-y: auto;
  border: 0;
  padding: 20px 20px;
  text-align: justify;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.feedback .contact .textarea-wrapper:before, .feedback .contact .textarea-wrapper:after {
  content: '';
  display: block;
  background: white;
  height: 20px;
  position: absolute;
  left: 20px;
  right: 20px;
}

.feedback .contact .textarea-wrapper:before {
  top: 0;
}

.feedback .contact .textarea-wrapper:after {
  bottom: 0;
}

.feedback .contact .counter {
  grid-column: 2;
  grid-row: 4;
  text-align: right;
  padding-right: 10px;
  color: #9c9c9c;
  font-size: 16px;
  font-family: Arial, sans-serif;
  opacity: 0;
  transition: opacity 1s ease;
}

.feedback .contact .counterVisible {
  opacity: 1;
  transition: opacity 1s ease;
}

.feedback .contact .contact-send {
  grid-column: 2;
  grid-row: 5;
  justify-self: end;
  border-radius: 20px;
  width: 200px;
}

.feedback .reviews-block {
  display: grid;
  grid-template-columns: 35px 1fr 35px;
  grid-row: 5;
  grid-column-gap: 30px;
  align-items: center;
  justify-content: center;
}

.feedback .reviews-block .arrow-up, .feedback .reviews-block .arrow-down {
  display: none;
}

.feedback .reviews-block .arrow-left, .feedback .reviews-block .arrow-right {
  display: block;
  grid-column: 1;
  justify-self: center;
  text-shadow: 8px 0 5px -5px #333;
  cursor: pointer;
}

.feedback .reviews-block .arrow-right {
  grid-column: 3;
  text-shadow: -8px 0 5px -5px #333;
}

.feedback .reviews-block .activeReview {
  grid-column: 2;
  display: inline-block;
  overflow: hidden;
}

.feedback .reviews-block .activeReview .allReviews {
  display: grid;
  grid-template-columns: repeat(12, 50%);
  position: relative;
  top: 0;
  left: 0;
  transition: 1s;
}

.feedback .reviews-block .activeReview .allReviews .review {
  display: grid;
  grid-template-rows: 25px 18px 20px 20px auto;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  height: auto;
  padding: 0 15px;
  font-family: 'Myriad-Pro', sans-serif;
  font-size: 1.25rem;
  color: #bcbcbc;
}

.feedback .reviews-block .activeReview .allReviews .review .avatar {
  grid-row: 1/span 3;
  grid-column: 1;
  border-radius: 50%;
}

.feedback .reviews-block .activeReview .allReviews .review .author-name, .feedback .reviews-block .activeReview .allReviews .review .author-position {
  grid-row: 1;
  grid-column: 2;
  display: inline-block;
  font-family: "Myriad Pro";
  font-weight: bold;
  font-size: 1.5rem;
  color: orange;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.feedback .reviews-block .activeReview .allReviews .review .author-position {
  grid-row: 2;
  font-weight: normal;
  font-size: 1.2rem;
  color: rgba(255, 165, 0, 0.7);
}

.feedback .reviews-block .activeReview .allReviews .review .comment-body {
  grid-row: 5;
  grid-column: 1/span 2;
  padding: 0 10px;
  text-align: justify;
  line-height: 33px;
}

.footer {
  display: grid;
  grid-template-columns: auto 200px 200px;
  grid-template-rows: 50px repeat(2, 20px) repeat(2, 30px) 40px;
  justify-content: space-between;
  background-color: #292929;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.footer .footer__contact-name {
  grid-column: 1;
  grid-row: 2;
}

.footer .footer__contact-address {
  grid-column: 1;
  grid-row: 3;
}

.footer .footer__contact-phone {
  grid-column: 1;
  grid-row: 5;
}

.footer .footer__friendly {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-weight: 400;
}

.footer .footer__contact-social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2;
  grid-row: 4/span 2;
  grid-column-gap: 6px;
}

.footer .footer__contact-social .footer__social-img {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid #3e3e3e;
}

.footer .footer__contact-social .vk {
  background: url("../img/vk-icon-small.png") no-repeat center;
}

.footer .footer__contact-social .fb {
  background: url("../img/fb-icon-small.png") no-repeat center;
}

.footer .footer__contact-social .inst {
  background: url("../img/insta-icon-small.png") no-repeat center;
}

.footer .footer__create-by {
  display: grid;
  grid-column: 3;
  grid-row: 2;
  font-weight: normal;
  text-align: center;
}

.footer .footer__development-name {
  display: grid;
  grid-row: 4/span 2;
  grid-column: 3;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #3e3e3e;
}

@media screen and (max-width: 1365px) {
  body > * {
    padding: 0 50px;
  }
  .about-us {
    display: grid;
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    grid-template-rows: repeat(5, 1fr);
  }
  .about-us .about-description1, .about-us .about-description2, .about-us .about-description3 {
    grid-column: 2 / span 5;
  }
  .about-us .about-description2, .about-us .about-description3 {
    grid-column: 2 / span 4;
  }
  .about-us .about-description3 {
    grid-column: 1 / span 5;
  }
  .about-us .small-photo {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .about-us .big-photo {
    grid-column: 6 / 7;
    grid-row: 3 / 5;
  }
}

@media screen and (max-width: 1024px) {
  body > * {
    padding: 0 50px;
  }
  .header .nav-bar {
    padding: 0 50px;
  }
  .header .nav-bar a {
    font-size: 1rem;
    text-transform: none;
  }
  .header .nav-bar .button--header {
    height: 40px;
    width: 125px;
  }
  .about-us {
    display: grid;
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    grid-template-rows: repeat(5, 1fr);
  }
  .about-us .about-description1, .about-us .about-description2, .about-us .about-description3 {
    grid-column: 2 / span 5;
  }
  .about-us .about-description2, .about-us .about-description3 {
    grid-column: 1 / span 6;
  }
  .about-us .about-description3 {
    grid-column: 1 / span 5;
  }
  .about-us .small-photo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .about-us .big-photo {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
  }
  .portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: 110px 15px auto 15px auto 100px;
  }
  .portfolio .portfolio-title {
    grid-column: 1;
  }
  .portfolio .portfolio-filter {
    grid-column: 1;
    grid-row: 3;
    justify-content: space-between;
    grid-auto-flow: column;
  }
  .portfolio .portfolio-gallery {
    grid-row: 5;
    grid-column: 1;
  }
  .portfolio .gallery-normal {
    grid-row-gap: 30px;
    justify-content: space-around;
  }
  .portfolio .gallery-detailed {
    grid-template-columns: repeat(4, 1fr);
  }
  .feedback .contact {
    grid-template-columns: 1fr 500px;
    grid-template-rows: repeat(3, 65px) 10px 60px;
  }
  .footer {
    grid-template-columns: 1fr 1fr auto 210px;
    grid-template-rows: 40px 45px 30px 30px 50px 100px 60px;
  }
  .footer .footer__contact-name {
    grid-column: 1;
    grid-row: 2;
  }
  .footer .footer__contact-address {
    grid-column: 1;
    grid-row: 3;
  }
  .footer .footer__contact-phone {
    grid-column: 1;
    grid-row: 4;
  }
  .footer .footer__friendly {
    display: none;
  }
  .footer .footer__contact-social {
    grid-column: 1/span 4;
    grid-row: 6;
    grid-column-gap: 0;
  }
  .footer .footer__create-by {
    grid-column: 4;
    grid-row: 2;
  }
  .footer .footer__development-name {
    grid-column: 4;
    grid-row: 3/ span 2;
  }
}

@media screen and (max-width: 900px) {
  .logo-description {
    display: grid;
    grid-column: 2;
    width: auto;
    height: 80px;
    justify-self: center;
  }
  .header {
    grid-template-rows: repeat(2, 100px) 450px 100px;
  }
  .header .nav-bar .logo {
    display: none;
  }
  .header .nav-bar .logo-menu {
    display: grid;
    grid-column: 1;
    align-items: center;
    position: relative;
    width: 75px;
    height: 75px;
    cursor: pointer;
  }
  .header .nav-bar .logo-menu img {
    position: absolute;
    height: 34px;
    width: 75px;
  }
  .header .nav-bar .menu-link {
    display: none;
  }
  .header .nav-bar .mini-menu-link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 40px);
    width: 100%;
    position: absolute;
    top: 80px;
  }
  .header .nav-bar .mini-menu-link li {
    display: flex;
    border-bottom: 2px solid transparent;
    align-items: center;
    justify-content: center;
    background: #404040;
    border-bottom: 1px solid orange;
  }
  .header .nav-bar .mini-menu-link li a {
    position: relative;
    left: -22px;
    font: bold 0.9rem "proxima nova", "Helvetica Neue", "Arial", Sans-serif;
    color: #f8f9fa;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header .nav-bar .mini-menu-link li:hover {
    color: orange;
  }
  .header .nav-bar .mini-menu-link li:hover a {
    color: orange;
  }
  .header-small {
    grid-template-rows: 80px 250px 400px 20px;
  }
  .header .header-content {
    margin: 0 50px;
  }
  .header .header-content .heading {
    font-size: 3.5rem;
  }
  .header .header-content .heading-slogan {
    font-size: 2.3rem;
  }
  .header .header-content .description {
    font-size: 1.2rem;
  }
  .hammer {
    top: 0;
    right: 0;
    transition: 1s;
  }
  .hatchet {
    top: 25px;
    left: 0;
    transition: 1s;
  }
  .hammerRotate {
    top: 27%;
    right: 0%;
    transform: rotate(50deg) scaleX(-1);
    transition: 1s;
  }
  .hatchetRotate {
    top: 36%;
    left: 10%;
    transform: rotate(130deg);
    transition: 1s;
  }
  .portfolio .gallery-normal {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px 50px 260px 280px;
    grid-column-gap: 30px;
  }
  .portfolio .gallery-normal .examples:nth-child(n+1) {
    grid-column: auto;
    grid-row: auto;
  }
  .portfolio .gallery-normal .examples:nth-child(1) {
    grid-row: 1/span 2;
  }
  .portfolio .gallery-normal .examples:nth-child(4) {
    grid-row: 2/span 2;
  }
  .portfolio .gallery-normal .header-small {
    grid-template-rows: 80px 250px 400px 20px;
  }
  .portfolio .gallery-normal .header .header-content {
    margin: 0 50px;
  }
  .portfolio .gallery-normal .header .header-content .heading {
    font-size: 3.5rem;
  }
  .portfolio .gallery-normal .header .header-content .heading-slogan {
    font-size: 2.3rem;
  }
  .portfolio .gallery-normal .header .header-content .description {
    font-size: 1.2rem;
  }
  .portfolio .gallery-normal .hammer {
    top: 0;
    right: 0;
    transition: 1s;
  }
  .portfolio .gallery-normal .hatchet {
    top: 25px;
    left: 0;
    transition: 1s;
  }
  .portfolio .gallery-normal .hammerRotate {
    top: 27%;
    right: 0%;
    transform: rotate(50deg) scaleX(-1);
    transition: 1s;
  }
  .portfolio .gallery-normal .hatchetRotate {
    top: 36%;
    left: 10%;
    transform: rotate(130deg);
    transition: 1s;
  }
  .portfolio .about-us {
    display: grid;
    grid-template-columns: 150px repeat(4, 1fr) 150px;
    grid-template-rows: 110px 190px 1fr 190px 110px;
  }
  .portfolio .about-us .about-description1, .portfolio .about-us .about-description2, .portfolio .about-us .about-description3 {
    grid-column: 2 / span 5;
  }
  .portfolio .about-us .about-description2, .portfolio .about-us .about-description3 {
    grid-column: 1 / span 6;
  }
  .portfolio .about-us .about-description3 {
    grid-column: 1 / span 5;
  }
  .portfolio .about-us .small-photo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .portfolio .about-us .big-photo {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
  }
  .portfolio .gallery-detailed {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 75px);
    grid-column-gap: 20px;
    justify-content: center;
  }
  .portfolio .gallery-detailed .examples:nth-child(n+1) {
    grid-column-end: span 3;
    grid-row-end: span 3;
  }
  .portfolio .gallery-detailed .examples:first-child {
    grid-column: 1/span 6;
    grid-row: 1/span 4;
  }
  .portfolio .gallery-detailed .examples:last-child {
    grid-column: 2/span 4;
    grid-row-end: span 3;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-technology {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed li {
    list-style-type: none;
    font-size: 0.9rem;
    padding-left: 20px;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .button, .portfolio .gallery-detailed .activeElem .project-detailed .header .nav-bar .button--header, .header .nav-bar .portfolio .gallery-detailed .activeElem .project-detailed .button--header, .portfolio .gallery-detailed .activeElem .project-detailed .about-us-read-more {
    text-transform: none;
    width: 140px;
    height: 30px;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .feedback .contact {
    grid-template-columns: 1fr 400px;
    grid-template-rows: repeat(3, 65px) 50px;
  }
  .feedback .contact .counter {
    text-align: left;
  }
  .feedback .contact .contact-send {
    grid-row: 4;
    height: 50px;
  }
  .feedback .reviews-block {
    grid-template-columns: 1fr;
    grid-template-rows: 35px auto 35px;
  }
  .feedback .reviews-block .arrow-up, .feedback .reviews-block .arrow-down {
    display: block;
    grid-row: 1;
    justify-self: center;
    text-shadow: 0 8px 5px -5px #333;
    cursor: pointer;
  }
  .feedback .reviews-block .arrow-down {
    grid-row: 3;
    text-shadow: 0 -8px 5px -5px #333;
  }
  .feedback .reviews-block .arrow-left, .feedback .reviews-block .arrow-right {
    display: none;
  }
  .feedback .reviews-block .activeReview {
    grid-column: 1;
  }
  .feedback .reviews-block .activeReview .allReviews {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, 50%);
    grid-auto-flow: column;
  }
  .feedback .reviews-block .activeReview .allReviews .review {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .logo-description {
    height: 70px;
  }
  .about-us {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 110px repeat(3, 1fr) 110px;
  }
  .about-us .about-description1, .about-us .about-description2, .about-us .about-description3 {
    grid-column: 2 / span 5;
  }
  .about-us .about-description2, .about-us .about-description3 {
    grid-column: 1 / span 6;
  }
  .about-us .about-description3 {
    grid-column: 1 / span 5;
  }
  .about-us .small-photo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 50%;
  }
  .about-us .big-photo {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    border-radius: 50%;
  }
  .portfolio .portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolio .portfolio-filter label {
    margin: 5px 0;
  }
  .portfolio .gallery-detailed {
    grid-template-rows: repeat(15, 75px);
  }
  .portfolio .gallery-detailed .activeElem {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 5px;
    align-items: center;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-name {
    grid-column: 1;
    grid-row: 1;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-description {
    grid-column: 1;
    grid-row: 2/span 2;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .technology-heading {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin: 0;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-technology {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .button, .portfolio .gallery-detailed .activeElem .project-detailed .header .nav-bar .button--header, .header .nav-bar .portfolio .gallery-detailed .activeElem .project-detailed .button--header, .portfolio .gallery-detailed .activeElem .project-detailed .about-us-read-more {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
  }
  .portfolio .gallery-detailed .examples:first-child {
    grid-row: 1/span 6;
  }
  .feedback .contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30px) 200px 10px 60px;
    grid-row-gap: 20px;
  }
  .feedback .contact .textarea-wrapper {
    grid-column: 1;
    grid-row: 4;
  }
  .feedback .contact .counter {
    grid-column: 1;
    grid-row: 5;
    text-align: left;
  }
  .feedback .contact .contact-send {
    grid-column: 1;
    grid-row: 5;
    justify-self: end;
    border-radius: 20px;
    width: 200px;
  }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 20px 45px 50px 100px 20px 50px  50px;
    grid-row-gap: 25px;
    justify-content: center;
    text-align: center;
  }
  .footer .footer__contact-name {
    grid-column: 1;
    grid-row: 2;
  }
  .footer .footer__contact-address {
    grid-column: 1;
    grid-row: 3;
  }
  .footer .footer__contact-phone {
    grid-column: 1;
    grid-row: 4;
  }
  .footer .footer__friendly {
    display: none;
  }
  .footer .footer__contact-social {
    grid-column: 1;
    grid-row: 5;
  }
  .footer .footer__create-by {
    grid-column: 1;
    grid-row: 6;
  }
  .footer .footer__development-name {
    grid-column: 1;
    grid-row: 7;
  }
}

@media screen and (max-width: 600px) {
  body > * {
    padding: 0 20px;
  }
  .logo-description {
    height: 40px;
  }
  .header {
    grid-template-rows: 80px 120px 450px 100px;
  }
  .header .nav-bar {
    padding: 0 20px;
    grid-column-gap: 10px;
  }
  .header .nav-bar .button--header {
    width: 100px;
  }
  .header .header-content {
    grid-template-rows: 2fr 1fr 5fr 1fr 1fr;
    margin: 0 20px;
  }
  .header .header-content .heading {
    font-size: 2.5rem;
    text-align: center;
  }
  .header .header-content .heading-slogan {
    font-size: 1.5rem;
  }
  .header .header-content .description {
    font-size: 1rem;
  }
  .about-us {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 110px repeat(3, 1fr) 110px;
  }
  .about-us .about-description1, .about-us .about-description2, .about-us .about-description3 {
    grid-column: 1 / span 6;
  }
  .about-us .about-description2, .about-us .about-description3 {
    grid-column: 1 / span 6;
  }
  .about-us .about-description3 {
    grid-column: 1 / span 6;
  }
  .about-us .small-photo {
    display: none;
  }
  .about-us .big-photo {
    display: none;
  }
  .header-small {
    grid-template-rows: 80px 250px 400px 20px;
  }
  .portfolio .gallery-normal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 230px);
  }
  .portfolio .gallery-normal .examples:nth-child(n+1) {
    grid-column: 1;
    grid-row: auto;
  }
  .portfolio .gallery-detailed {
    grid-template-rows: repeat(21, 45px);
  }
  .portfolio .gallery-detailed .examples:nth-child(n+1) {
    grid-row-end: span 4;
  }
  .portfolio .gallery-detailed .examples:first-child {
    grid-row-end: span 8;
  }
  .portfolio .gallery-detailed .examples:last-child {
    grid-row-end: span 5;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, auto);
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-name {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-description {
    grid-column: 1/span 2;
    grid-row: 2;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .technology-heading {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    margin: 0;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-technology {
    grid-column: 2;
    grid-row: 3/span 2;
    justify-self: start;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .button, .portfolio .gallery-detailed .activeElem .project-detailed .header .nav-bar .button--header, .header .nav-bar .portfolio .gallery-detailed .activeElem .project-detailed .button--header, .portfolio .gallery-detailed .activeElem .project-detailed .about-us-read-more {
    grid-column: 1;
    grid-row: 4;
    justify-self: start;
  }
  .feedback .contact {
    grid-template-rows: repeat(3, 30px) 250px 40px;
  }
}

@media screen and (max-width: 400px) {
  .header .logo-description {
    display: none;
  }
  .header .header-content {
    margin: 0 10px;
    padding: 30px 10px;
  }
  .header .header-content .heading {
    font-size: 2rem;
  }
  .header .header-content .button, .header .header-content .nav-bar .button--header, .header .nav-bar .header-content .button--header, .header .header-content .about-us-read-more {
    width: 200px;
  }
  .header-small {
    grid-template-rows: 80px 250px 400px 20px;
  }
  .portfolio .gallery-detailed {
    grid-template-columns: 1fr;
    grid-template-rows: 500px repeat(5, 230px);
  }
  .portfolio .gallery-detailed .activeElem .project-detailed {
    grid-template-columns: 1fr;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-name {
    grid-column: 1;
    grid-row: 1;
    font-size: 22px;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-description {
    grid-column: 1;
    grid-row: 2;
    font-size: 13px;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .technology-heading {
    grid-column: 1;
    grid-row: 3;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-technology {
    grid-column: 1;
    grid-row: 4;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .project-technology ul {
    display: flex;
  }
  .portfolio .gallery-detailed .activeElem .project-detailed .button, .portfolio .gallery-detailed .activeElem .project-detailed .header .nav-bar .button--header, .header .nav-bar .portfolio .gallery-detailed .activeElem .project-detailed .button--header, .portfolio .gallery-detailed .activeElem .project-detailed .about-us-read-more {
    grid-column: 1;
    grid-row: 5;
  }
  .portfolio .gallery-detailed .examples:first-child {
    grid-column: 1;
    grid-row: 1;
    grid-row-end: 2;
  }
  .portfolio .gallery-detailed .examples:nth-child(n+1) {
    grid-column: 1;
    grid-row: auto;
  }
}
