@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@font-face{
font-family: "Myriad-Pro";
src : url("../fonts/Myriad-Pro-Regular.ttf");
}
@font-face{
    font-family: "StrokeyBacon";
    src : url("../fonts/StrokeyBacon.ttf");
}
$main-indent:0 5%;
$main-color: orange;
body {
    margin: 0;
    padding: 0;
}

body * {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
    // font-size: 100%;
 }

body>*{
    padding:$main-indent;
}

//General style for multiple use
.button{
    height: 60px;
    width:253px;
    border:3px solid $main-color;
    border-radius:2px;

    font-family:"Raleway";
    font-size: 0.875rem;
    font-weight: bold;
    background-color: $main-color;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.16em;
}

.subheading{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:1.875rem;
    font-weight: bold;
    color:black;
    text-transform: uppercase;
}

.waves{
    width: 80px;
    height: 8px;
    background:url("../img/waves.png") no-repeat;
}

//General style for multiple use

.header{
    display:grid;
    grid-template-rows: 120px 100px 450px 100px;

    width:100%;
    padding:0;
    background:url("../img/main-background.jpg") no-repeat center;
    background-size:cover;

    .nav-bar {
        display:grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 5%;
        justify-content: space-around;
        padding:$main-indent;
        grid-row: 1;
        align-items: center;


        background-color: rgba(0,0,0,0.5);

        .logo{
            display:grid;
            grid-column: 1;
            width: auto;
            height: 100px;
        }

        .menu-link {
            display:grid;
            grid-column: 2;
            grid-template-columns: repeat(6,auto);
            justify-content: space-between;

            li {
                display: inline;
            }
        }

        a{
            text-decoration: none;
            text-underline: none;
            color:#f8f9fa;
            font:bold 0.9rem "Open Sans";
            text-transform: uppercase;
        }

        .button--header{
            @extend .button;
            grid-column: 3;
            justify-self: end;
            height: 46px;
            width: 153px;
            background-color: transparent;
            color: $main-color;
        }
    }

    .header-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 2fr 2fr 2fr 3fr 1fr;
        grid-row: 3;

        border-radius:30px;
        background-color: rgba(0,0,0,0.05);
        margin:$main-indent;
        padding:30px 30px;

        .heading{
            grid-column: 1/span 3;
            grid-row: 1;

            color:white;
            font-family: 'Pacifico', cursive;
            font-size: 5rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.09em;
            line-height: 0.65;

            &-slogan{
                display:block;

                color:$main-color;
                font-family:"Bringin";
                font-size:3rem;
                font-weight: 400;
                letter-spacing: 0.01em;
                text-transform: none;
            }
        }

        .description{
            grid-row: 3;
            grid-column: 1/span 2;
            color:white;
            font-family:"Myriad Pro";
            font-size:2rem;
            font-weight: normal;
        }

        .button{
            grid-column:1;
            grid-row: 5;
        }
    }


    .call-back-form-header, .close-form {
        position: fixed;
        display: none;
        grid-row-gap: 20px;
        grid-row: 8;
        grid-column: 2 / span 2;

        background: url("../img/contacts-bg.png");
        background-size: cover;
        padding: 15px 30px 50px;
        border-radius: 10px;
        z-index: 10;

        .contact-title{
            display: grid;
//            order: 1;
            height: 35px;
            font-family: 'Myriad-Pro', sans-serif;
            font-size: 2.25rem;
            color:$main-color;
            text-transform: uppercase;
            text-align: center;
            vertical-align: bottom;
            letter-spacing: 0.15em;
        }

        .close-form {
            display: grid;
//            justify-self: flex-end;
            width: 30px;
            font-family: "Myriad-Pro", sans-serif;
            font-size: 30px;
            line-height: 16px;
            cursor: pointer;
            margin: 0;
            background: none;
            padding: 0;
            margin-top: 15px;
            margin-left: 30px;
           // order: 2;
//            animation: mymove 5s infinite;
//
            &:hover {
                transform: rotate(360deg);
                transition: 1s;
//                @keyframes mymove {
//                    0%   {top: 0px;}
//                    25%  {top: 200px;}
//                    75%  {top: 50px}
//                    100% {top: 100px;}
//                }
            }
        }

        .input{
            border-radius: 10px;
            border: 0;
            padding:20px;

        }

        .contact-send{
            border-radius: 20px;
            width: 100%;
        }
    }

     #overlay {
        z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
        position:fixed; /* всегдa перекрывaет весь сaйт */
        background-color: rgba(0, 0, 0, 0.6); /* чернaя */
        width:100%;
        height:100%; /* рaзмерoм вo весь экрaн */
        top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
        left:0;
        cursor:pointer;
        display:none; /* в oбычнoм сoстoянии её нет) */
        filter: blur(5px);
    }
    
    

}

.about-us {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10px repeat(3, 1fr) 10px;
    background-image: url("../img/about-us-background.png");

    &-title {
        display: grid;
        grid-column: 3 / span 2;
        grid-row: 2;

        font-family: sans-serif;
        font-size: 1.875rem;;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        align-content: center;

    }

    .about-description1 {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 2;

        font-family: sans-serif;
        font-size: 0.875rem;
        line-height: 26px;
        color: #949494;
        align-content: center;
    }
    
    .about-description2 {
        @extend .about-description1;
        grid-column: 3 / span 2;
        grid-row: 3
    }
    
    .about-description3 {
        @extend .about-description2;
        grid-column: 5 / span 2;
        grid-row: 4
    }
    
    

    &-read-more {
        @extend .button;
        grid-row: 5;

        justify-self: end;
        height: 46px;
        width: 153px;
        /*display: grid;
        grid-column: 1;
        grid-row: 5 / 6;

        @extend .about-us-title;
        color: #ffffff;
        text-transform: uppercase;
        align-content: center;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        background-color: $main-color;*/
    }

    .big-photo {
        grid-column: 5 / span 2;
        grid-row: 2 / span 2;

        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .small-photo {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

  
}

.order-now {
    display: grid;
    grid-template-columns: 245fr 57fr 325fr 232fr;
    grid-template-rows: 190px 30px 20px 50px 26px 62px 20px 18px 206px;
    background: url("../img/Curves 4.png") #f6f4f4;


    .order-title {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        @extend .about-us-title;
    }

    .order-description {
        grid-column: 1 / span 4;
        grid-row: 4 / 5;

        font-family: sans-serif;
        font-size: 1.25rem;
        line-height: 26px;
        color: #949494;
        align-content: center;
    }

    .name {
        grid-column: 1 / span 2;
        grid-row: 6 / 7;
        border: 1px solid $main-color;
        border-right: 1px solid #949494;
    }

    .phone {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
        border: 1px solid $main-color;
        border-left: 1px solid #949494;
    }

    .order-now-btn {
        grid-column: 4 / 5;
        grid-row: 6 / 7;

        @extend .about-us-read-more;
        border: 4px solid #ffffff;
    }

    .date {
        grid-column: 1 / span 3;
        grid-row: 8 / 9;

        position: relative;
        padding-left: 30px;
        color: #949494;

        &:after {
            display: block;
            position: absolute;
            content: url("../img/Lock locked.png");
            top: 3px;
            left: 0px;
        }
    }
}



.advantages{
    display:grid;
    grid-template-rows: 114px 30px 75px 765px;
    border:1px solid black;

    &-title{
        grid-row: 2;
    }

    .quality-wrapper{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row: 4;

        .quality--1{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 1/span 2;
            grid-row:1;

            .quality__image{
                grid-column: 1;
                background: url("../img/quality-img-1.jpg") center;
            }

            .quality__description-block{
                grid-column: 2;
            }
        }

        .quality--2{
            @extend .quality--1;
            grid-row:2;

            .quality__image{
                grid-column: 2;
                background: url("../img/quality-img-2.jpg") center;
            }

            .quality__description-block{
                grid-column: 1;
                grid-row:1;
            }
        }

        .quality--3{
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column:3;
            grid-row: 1/span 2;

            .quality__image{
                grid-column: 1;
                grid-row:1;
                background: url("../img/quality-img-3.jpg") center;
            }

            .quality__description-block{
                grid-column: 1;
                grid-row:2;
            }
        }

        .quality__description-block{
            display:grid;
            grid-template-rows: auto auto auto;
            align-items: start;

            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size:1.2rem;
            color:#777777;
            padding:47px 40px;


            .quality__epigraph{
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                color:#16b5ef;
                text-transform: uppercase;
            }

            .quality__title{
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                color:black;
                letter-spacing: 0.13em;;
                text-transform: uppercase;
            }

            .quality__description{
                font-family: 'Myriad-Pro', sans-serif;
                font-size:1.375rem;
            }
        }
    }
}


.skillBar {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 60px 130px 1fr 130px;
    justify-items: center;
    border:1px solid red;


//    .waves{
//        grid-row: 2;
//    }
    
       img {
                //grid-column: 1 / 2;
                grid-row: 3;
            }
        

    .skillBar-title{
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .skill-wrapper{
        display: grid;
//        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
       grid-column-gap: 1%;
        grid-column: 1 / span 3;
        grid-row: 4;
        
       
       
         
        .skillbar {
            display: grid;
            font-family: 'Open Sans', sans-serif;
            font-size:1.2rem;
            text-align: center;
            position: relative;
            margin-bottom: 15px;
            width: 100%;
            height: 35px;
            background-color: #eee;
            transition: 0.4s linear;
            grid-row: 2;
            
           
            
            .skillbar-title {
                display: grid;
                align-items: center;
                height: 35px;
                width: 50px;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                padding: 0 20px;
                margin: 0;
            }
            
            .skillbar-bar {
                height: 35px;
                width: 80px;
            }
            
            .skillbar-bar-percent {
                display: grid;
                align-items: center;
                height: 35px;
                width: 50px;
                background-color: orange;
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
            }
            
            .description {
                color: rebeccapurple;
            }
        }
    }
}


.team-wrapper {
    display: grid;
    grid-template-rows: 140px 100px 382px 379px;

    background-image: url("../img/worldmap-dots.png");

    .team-title {
        display: grid;
        font-family: sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        align-items: flex-end;
    }

    .team {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        justify-content: space-between;
        grid-row: 3 / 4;

        height: 382px;

        img {
            width: 50%;
        }

        .description-travel {

            .name {
                font-family: sans-serif;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 22px;
                color: #ffffff;
                text-transform: capitalize;
                padding: 0 20px;

            }

            span {
                font-size: 1rem;
                line-height: 22px;
                text-transform: none;
            }
        }

        .price {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 62px;
            color: #ffffff;

            .old-price {
                font-family: sans-serif;
                font-size: 1.125rem;
                text-decoration: line-through;
            }

            .new-price {
                font-family: sans-serif;
                font-size: 1.4rem;
                font-weight: bold;
            }

        }

        .carpathian {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            border-radius: 4px;
            background-image: url("../img/carpathyan-bg.jpg");
            background-size: cover;
        }

        .alps {
            @extend .carpathian;

            background-image: url("../img/alps-bg.jpg");
        }

        .pyrenees {
            @extend .carpathian;

            background-image: url("../img/perenees-bg.jpg");
        }

        .rocky {
            @extend .carpathian;

            background-image: url("../img/rocky-bg.jpg");
        }

        .kavkaz {
            @extend .carpathian;

            background-image: url("../img/kavkaz-bg.jpg");
        }
    }
}



.portfolio {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 70px auto;
    grid-gap: 20px;

    .portfolio-title {
        display: grid;
        grid-column: 1/ span 2;
        grid-row: 1;

        font-family: sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        align-items: flex-end;
    }

    .portfolio-filter{
        display:grid;
        grid-row-gap: 10px;
        align-content: start;
        grid-column: 1;
        grid-row: 2;


        input{
            display: none;
        }

        input:checked + label{
            background-color: $main-color;
        }

        label{
            display:grid;
            align-content: center;
            width: 100px;
            height: 30px;
            border-radius:2px;
            color: white;
            background-color: rgba(0,0,0,0.6);
            text-align: center;
        }

        label:hover{
            background:$main-color;
        }
    }

    .portfolio-gallery{
        grid-column: 2;
        grid-row: 2;

        &>div{
            width: 100%;
            box-shadow:  0 0 15px 1px rgba(0,0,0,0.5);

            img{
                width: 100%;
                height: auto;
            }
        }
        &:hover{
            &>div {
                box-shadow:  0 0 15px 1px rgb(0,0,0);
                transition: 0.3s;
            }
        }

        &>div:hover{
            box-shadow:  0 0 15px 1px rgba(0,0,0,0.5);

        }

    }

    //gallery-normal start
    .gallery-normal {
        display: grid;
        grid-template-columns: repeat(3, 250fr);
        grid-template-rows: 200px 50px 200px;
        grid-gap: 50px;
        justify-content: space-around;

        .icon-site{
            height: 100%;
            overflow: hidden;
        }

        .showScroll{
            overflow-y: scroll;
        }


        .project-detailed{
            display:none;
        }

        div:nth-child(odd){
            grid-row: span 2;
        }

        div:nth-child(5){
            grid-column: 2;
            grid-row: 2/ span 2;
        }
    }

    //gallery-detailed start

    .gallery-detailed {
        display: grid;
        grid-template-columns: repeat(4, 200fr);
        grid-template-rows: repeat(6, 75px);
        justify-content: space-around;
        grid-gap: 20px;
        align-self: center;

        .icon-site{
            height: 100%;
            overflow: hidden;
        }

        .showScroll{
            overflow-y: scroll;
        }

        &>div{
            grid-row-end: span 2;
        }

        &>div:first-child {
            grid-column: 1/span 3;
            grid-row: 1/span 4;
        }

        &>div:nth-child(2){
            grid-row-end: span 3;
        }

        &>div:nth-child(3){
            grid-row-end: span 3;
        }
    }


    .project-detailed{
        display:none;
    }

    .activeElem{
        display:grid;
        grid-template-columns: 2fr 3fr;

        .icon-site{
            height: auto;
        }

        &>.project-detailed{
            display:grid;
            align-content: space-around;
            padding:10px 20px;

            font-family:'Open Sans',sans-serif;
            color:white;
            background: url("../img/project-bg.jpg") #333333;

            .project-name{
                font-family:"Bringin",'Pacifico', cursive;
                font-weight: bold;
                font-size:30px;
                letter-spacing: 5px;
            }

            .technology-heading{
                font-size: 1.2rem;
                color:$main-color;
                padding:0;
                margin-bottom: 10px;
            }

            .project-technology{
                display:flex;
                flex-direction: column;
                flex-wrap:wrap;
            }

            li{
                list-style-type: none;
                font-size: 0.9rem;
                padding-left: 20px;
            }

            .button{
                text-transform: none;
                width: 140px;
                height: 30px;
                font-size: 1rem;
                letter-spacing: 1px;
            }
        }
    }
}

.feedback{
    display:grid;
    grid-template-columns: 1fr 267px 267px 1fr;
    grid-template-rows: 70px 10px 35px 30px 130px 230px 140px 500px 250px;
    justify-items: center;
    background-image: url("../img/feedback-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;

    .waves{
        grid-column: 2/span 2;
        grid-row:2;
    }

    .feedback-title{
        grid-column: 2/span 2;
        grid-row:4;
    }

    .reviews-wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/span 4;
        grid-row:6;
    }

    .review{
        display:grid;
        grid-template-rows: 25px 18px 25px 30px auto;
        grid-template-columns: auto 1fr;
        grid-column-gap: 15px;


        padding:0 15px;
        font-family: 'Myriad-Pro', sans-serif;
        font-size: 1.25rem;
        color:#bcbcbc;

        .avatar{
            grid-row: 1/span 3;
            grid-column: 1;

            border-radius: 50%;
        }

        .author{
            grid-row: 2;
            grid-column: 2;

            display:inline-block;
            font-family:"Myriad Pro";
            font-size:1rem;
            color:$main-color;

            span{
                font-weight: bold;
            }
        }

        .comment-body{
            grid-row: 5;
            grid-column: 1/span 2;

            text-align: justify;
            line-height: 33px;
        }
    }

    .contact{
        display:grid;
        grid-row-gap: 20px;
        grid-row: 8;
        grid-column: 2/span 2;

        background:  url("../img/contacts-bg.png");
        background-size:100%;
        padding:40px 30px 50px;
        border-radius: 10px;

        &-title{
            height: 75px;
            font-family: 'Myriad-Pro', sans-serif;
            font-size: 2.25rem;
            color:$main-color;
            text-transform: uppercase;
            text-align: center;
            vertical-align: bottom;
            letter-spacing: 0.15em;

            span{
                display:inline-block;
                height: 50px;
                font-size: 1rem;
                color:#383e4a;
                text-transform: none;
                letter-spacing: 0.05em;
            }
        }

        .input{
            border-radius: 10px;
            border: 0;
            padding:20px;

        }

        .contact-send{
            border-radius: 20px;
            width: 100%;
        }
    }


}



///Primitive footer

.footer{
    display: grid;
    padding: $main-indent;
    grid-template-columns:340fr 58fr 164fr 238fr 160fr;
    grid-template-rows:50px 22px 15px 25px 25px 60px;
    justify-content: center;
    text-align: center;

    background-color: #292929;
    color:white;
    text-align: left;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.footer__contact-name, .footer__contact-address, .footer__contact-phone{
    display: grid;
}

.footer__contact-name{
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

.footer__contact-address{
    grid-column: 1;
    grid-row: 3;
}

.footer__contact-phone{
    display:block;
    grid-column: 1;
    grid-row: 5;
    justify-content: start;
    width: 100%;

    font-weight: normal;
    border: none;
}

.footer__friendly{
    display:grid;
    grid-column: 3;
    grid-row:2;

    text-align: center;
    font-weight: 400;
}

.footer__contact-social{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 3;
    grid-row: 4/span 2;
    grid-column-gap: 6px;
}

.footer__social-img{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #3e3e3e;
}

.vk{
    background: url("../img/vk-icon-small.png") no-repeat;
    background-position: center;
}

.fb{
    background: url("../img/fb-icon-small.png") no-repeat;
    background-position: center;
}

.insta{
    background: url("../img/insta-icon-small.png") no-repeat;
    background-position: center;
}



.footer__create-by{
    display: grid;
    grid-column: 5;
    grid-row: 4;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.footer__development-name{
    display: grid;
    grid-row: 5;
    grid-column: 5;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    border: 1px solid #3e3e3e;
}

//media-queries

@media screen   and(max-width: 1024px){
    body>*{
        padding: 0 4%;
    }

    .about-us{
        overflow: hidden;
    }

    //portfolio
    .portfolio{
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto auto;

        .portfolio-title{
            grid-column: 1;
        }

        .portfolio-filter{
            grid-column: 1;
            justify-content: space-between;
            grid-auto-flow: column;
        }

        .portfolio-gallery{
            grid-row: 3;
            grid-column: 1;
        }

        .gallery-normal{
            grid-row-gap: 30px;
            justify-content: space-around;
        }

        .gallery-detailed {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media screen and(max-width: 900px){
        .portfolio{
            .gallery-normal{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 260px 50px 260px 280px;
                grid-column-gap: 30px;

                .examples:nth-child(n+1){
                    grid-column: auto;
                    grid-row: auto;
                }

                .examples:nth-child(1){
                    grid-row: 1/span 2;
                }
                .examples:nth-child(4){
                    grid-row: 2/span 2;
                }
            }

            .gallery-detailed{
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(13, 75px);
                grid-column-gap: 20px;
                justify-content: center;

                .examples:nth-child(n+1){
                    grid-column-end: span 3;
                    grid-row-end: span 3;
                }

                .examples:first-child {
                    grid-column: 1/span 6;
                    grid-row: 1/span 4;
                }

                .examples:last-child{
                    grid-column: 2/span 4;
                    grid-row-end: span 3;
                }

                .activeElem {
                    .project-detailed {
                        .project-technology {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                        }

                        li {
                            list-style-type: none;
                            font-size: 0.9rem;
                            padding-left: 20px;
                        }

                        .button {
                            text-transform: none;
                            width: 140px;
                            height: 30px;
                            font-size: 1rem;
                            letter-spacing: 1px;
                        }

                    }
                }
            }
        }
    }

    @media screen and(max-width: 768px){
        .portfolio{
            .portfolio-filter{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                label{
                    margin:5px 0;
                }
            }

            .gallery-detailed{
                grid-template-rows: repeat(15,75px);

                .activeElem{
                    grid-template-columns: 1fr;
                    grid-template-rows: 4fr 1fr;

                    .project-detailed{
                        grid-template-columns: 5fr 3fr;
                        grid-template-rows: repeat(3, auto);
                        grid-row-gap: 5px;
                        align-items: center;

                        .project-name{
                            grid-column: 1;
                            grid-row: 1;
                        }
                        .project-description{
                            grid-column: 1;
                            grid-row: 2/span 2;
                        }
                        .technology-heading{
                            grid-column: 2;
                            grid-row: 1;
                            justify-self: center;

                            margin: 0;

                        }
                        .project-technology{
                            grid-column: 2;
                            grid-row: 2;
                            justify-self: center;
                        }
                        .button{
                            grid-column: 2;
                            grid-row: 3;
                            justify-self: center;
                        }
                    }
                }

                .examples:first-child{
                    grid-row: 1/span 6;
                }
            }
        }
    }
    @media screen and(max-width: 600px) {
        .portfolio {
            .gallery-normal{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 230px);

                .examples:nth-child(n+1){
                    grid-column: 1;
                    grid-row: auto;
                }
            }

            .gallery-detailed {
                grid-template-rows: repeat(21, 45px);
                .examples:nth-child(n+1){
                    grid-row-end:span 4;
                }

                .examples:first-child{
                    grid-row-end:span 8;
                }
                .examples:last-child{
                    grid-row-end: span 5;
                }

                .activeElem .project-detailed {
                    grid-template-columns: 2fr 3fr;
                    grid-template-rows: repeat(4, auto);

                    .project-name {
                        grid-column: 1/span 2;
                        grid-row: 1;
                    }
                    .project-description {
                        grid-column: 1/span 2;
                        grid-row: 2;
                    }
                    .technology-heading {
                        grid-column: 1;
                        grid-row: 3;
                        justify-self: start;

                        margin: 0;

                    }
                    .project-technology {
                        grid-column: 2;
                        grid-row: 3/span 2;
                        justify-self: start;
                    }
                    .button {
                        grid-column: 1;
                        grid-row: 4;
                        justify-self: start;
                    }
                }
            }
        }
    }

    @media screen and(max-width: 400px) {
        .portfolio .gallery-detailed {
            grid-template-columns: 1fr;
            grid-template-rows: 500px repeat(5, 230px);
            .activeElem .project-detailed {
                grid-template-columns: 1fr;

                .project-name {
                    grid-column: 1;
                    grid-row: 1;

                    font-size: 22px;
                }
                .project-description {
                    grid-column: 1;
                    grid-row: 2;

                    font-size: 13px;
                }
                .technology-heading {
                    grid-column: 1;
                    grid-row: 3;

                }
                .project-technology {
                    grid-column: 1;
                    grid-row: 4;

                    ul{
                        display: flex;
                    }
                }
                .button {
                    grid-column: 1;
                    grid-row: 5;
                }
            }
            .examples:first-child {
                grid-column: 1;
                grid-row: 1;
                grid-row-end: 2;
            }
            .examples:nth-child(n+1){
                grid-column: 1;
                grid-row: auto;
            }
        }
    }
}
