//main style
$main-big-indent:0 80px;
$main-middle-indent:0 50px;
$main-small-indent:0 20px;
$main-color: orange;
$active-color: #ff6c08;

//import
@import 'keyframes';
@import 'fonts';

html{
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

body * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
    box-sizing: border-box;

 }

body>*{
    padding:$main-big-indent;
}

textarea:focus, input:focus{
    outline: none;
}

button{
    outline: 0;
}
//General style for multiple use start
.mini-logo{
    display: none;
}

.logo-menu,  .logo-description{
    display:none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    width: 253px;


    border-radius: 5px;
    border: 0;
    background-color: $main-color;
    box-shadow: inset 1px 3px 10px -4px rgba(0,0,0,1),
    inset 3px 15px 45px rgba(255,255,255,0.1),
    inset -1px -1px 2px rgba(0,0,0,0.3),
    inset -3px -15px 45px rgba(0,0,0,0.2),
    1px 3px 20px -4px rgba(0,0,0,1);
    color:white;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    cursor: pointer;

    &:active {
        text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
        box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3),
        inset 3px 15px 45px rgba(0,0,0,0.2),
        inset -1px -1px 2px rgba(0,0,0,0.5),
        inset -3px -15px 45px rgba(255,255,255,0.1),
        1px 5px 10px -4px rgba(0,0,0,1);
    }

    &:hover{
        box-shadow: inset 1px 3px 10px -4px rgba(0,0,0,1),
        inset 3px 15px 45px rgba(255,255,255,0.1),
        inset -1px -1px 2px rgba(0,0,0,0.3),
        inset -3px -15px 45px rgba(0,0,0,0.2),
        1px 0 15px 0 $active-color;
    }
}

.subheading{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    color: #4f4b48;
    text-align: center;
    text-transform: uppercase;
}

.subheading:before{
    position: absolute;
    top: 0;
    justify-self: center;
    content:url("../img/waves.png");
}

.to-Top {
    display: none;

    .big-arrow {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 31px;
        height: 31px;
        transform: rotate(45deg);
        border: 3px solid $main-color;
        border-right: none;
        border-bottom: none;
        padding: 0;
        margin: 0;
        z-index: 99;
        animation: arrow 2s linear 0.6s infinite;
    }

    .middle-arrow {
          display: block;
        position: fixed;
        bottom: 12px;
        right: 18px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        border: 3px solid $main-color;
        border-right: none;
        border-bottom: none;
        padding: 0;
        margin: 0;
        z-index: 100;

        animation: arrow 2s linear 0.3s infinite;
    }

    .small-arrow {
          display: block;
        position: fixed;
            bottom: 5px;
        right: 22px;
        width: 7px;
        height: 7px;
         transform: rotate(45deg);
        border: 3px solid $main-color;
        border-right: none;
        border-bottom: none;
        padding: 0;
        margin: 0;
        z-index: 100;
        animation: arrow 2s linear 0.1s infinite;
    }
    .zzz {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 20px;
        z-index: 150;
        transform: rotate(45deg);
    }
}

#overlay{
    display:none;
    justify-content: center;
    position:fixed;
    z-index: 12;
    background-color: rgba(50, 50,50, 0.7);
    width:100vw;
    height:100vh;
    cursor:pointer;

    .call-back-form-modal {
        display: none;
        grid-template-columns: minmax(150px, 400px);
        grid-row-gap: 20px;
        position: relative;
        top: 100vh;
        height: 450px;
        width: auto;

        background: rgba(150, 150, 150, 0.9);
        padding: 15px 30px 50px;
        border-radius: 10px;
        z-index: 14;


        .contact-title{
            display: grid;
            height: 35px;
            font-size: 2rem;
            font-family: 'Kaushan Script', cursive;

            color:$main-color;
            text-transform: uppercase;
            text-align: center;
            vertical-align: bottom;
            letter-spacing: 0.15em;
        }

        .close-form {
            position: absolute;

            width: 30px;
            line-height: 16px;
            cursor: pointer;
            top:15px;
            right:30px;
            background: none;
            padding: 0;

            &:hover {
                transform: rotate(360deg);
                transition: 1s;
            }
        }

        .help{
            color:white;
            font-family: 'Audiowide', cursive;
        }

        .input{
            border-radius: 10px;
            border: 0;
            padding:20px;

        }

        .contact-send{
            width: 200px;
            justify-self: flex-end;
        }
    }
}


.fixed{
    top:0 !important;
    transition: 1s;
}
//General style for multiple use end

.header{
    display:grid;
    grid-template-rows: auto 100px 450px 100px;
    align-content: center;

    width:100%;
    padding:0;
    background:url("../img/main-background.jpg") no-repeat center;
    background-size:cover;

    .nav-bar {
        display:grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 20px;
        justify-content: space-around;
        padding:$main-big-indent;
        grid-row: 1;
        align-items: center;

        background-color: rgba(0,0,0,0.8);

        .logo{
            display:grid;
            grid-column: 1;
            width: auto;
            height: 100px;
            margin:10px 0;
        }

        .menu-link {
            display:grid;
            grid-column: 2;
            grid-template-columns: repeat(6,auto);
            grid-column-gap: 15px;
            justify-content: end;

            li {
                display: inline;
                position:relative;
            }

            li:after{
                display: block;
                position: absolute;
                top:0;
                content: '';
                width: 0;
                height: 100%;
                background-color: transparent;
                border-bottom: 2px solid white;
                transition: 0.5s;
            }

            li:hover:after{
                width: 100%;
                transition: 0.7s;
            }
        }

        .mini-menu-link{
            top:120px;
        }

        a{
            text-decoration: none;
            color:#f8f9fa;
            font-size: 1.3rem;
           /// text-transform: uppercase;
        }

        .button--header{
            @extend .button;
            grid-column: 3;
            justify-self: end;
            height: 46px;
            width: 153px;
            background-color: transparent;
            color: $main-color;
            border:2px solid $main-color;
        }

        .button--header:active{
            border:2px solid $active-color;
        }
    }

    .fix-nav{
        @extend .nav-bar;
        position: fixed;
        background: black;
        width: 100%;
        top: -100vh;
        padding: $main-middle-indent;
        transition: 1s;
        z-index: 10;
    }

    .header-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        grid-row: 3;

        border-radius:30px;
        background-color: rgba(0,0,0,0.1);
        margin:$main-big-indent;
        padding:30px 30px;

        .heading{
            color:white;
            text-transform: uppercase;
            font-family: 'Audiowide', cursive;
            font-size: 5rem;
            letter-spacing: 0.09em;
            line-height: 0.65;

            &-slogan{
                display:block;

                color:$main-color;
                letter-spacing: 0.01em;
                font-family: 'Kaushan Script', cursive;
                font-size: 0.7em;
                text-transform: none;
            }
        }

        .description{
            max-width: 400px;
            font-family: 'Roboto', sans-serif;
            font-size: 1.7rem;
            color:white;
        }

        .button{
            grid-column:1;
            grid-row: 5;
        }
    }
}

.about-us {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 110px 40px 75px auto 100px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    background-image: url("../img/about-us-background.png");
    background-position: left;

    &-title {
        grid-column: 1 / span 6;
        grid-row: 1;
    }

    .description-heading-style {
        display: grid;
        font-size:1.4em;
        font-family: cursive;
        color: $main-color;
        text-align: center;
        align-items: center;
        text-transform: uppercase;
        background-color: $main-color;
        border-radius: 5px;
        box-shadow: inset 1px 3px 10px -4px black,
        inset 3px 15px 45px rgba(210, 235, 0, 0.2),
        inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        inset -3px -15px 45px rgba(0, 0, 0, 0.4),
        0 5px 5px rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-shadow: 0 0 10px #000;

        //&:before {
        //    position: absolute;
        //    width: 100%;
        //    height: 80%;
        //    border-radius: 10px / 100px;
        //    z-index: -1;
        //    top: 10%;
        //    bottom: 10%;
        //    content: "";
        //    box-shadow: 0 0 15px rgba(0,0,0, 1);
        //}
    }

    .description-heading1 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .description-heading2 {
        grid-column: 3 / span 2;
        grid-row: 3;
    }

    .description-heading3 {
        grid-column: 5 / span 2;
        grid-row: 3;
    }

    .about-description {
        font-size: 1rem;
        line-height: 26px;
        text-align: justify;
        color: #fff;
        align-content: center;
        background-color: $main-color;
        box-shadow: inset 1px 3px 10px -4px black,
        inset 3px 15px 45px rgba(255, 255, 255, 0.1),
        inset -1px -1px 2px rgba(0, 0, 0, 0.3),
        inset -3px -15px 45px rgba(0, 0, 0, 0.2),
        0 -5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 10px;
        text-shadow: 0 0 10px #000;
    }

    //.about-description:hover > .description-heading{
    //    color: $active-color;
    //    font-size: 1.6em;
    //    transition: 1s;
    //}

    .about-description1 {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    .about-description2 {
        grid-column: 3 / span 2;
        grid-row: 4;
    }

    .about-description3 {
        grid-column: 5 / span 2;
        grid-row: 4;
    }

    .left-photo {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
        position: relative;
        z-index: 1;
        background: url("../img/sherlock.jpg");
        background-size: cover;
        background-position: center;
        animation-name: sherlock;
        animation-fill-mode: both;
        animation-duration: 300ms;
        animation-play-state: paused;
    }

    .right-photo {
        grid-column: 5 / span 2;
        grid-row: 2 / span 2;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: url("../img/proger2.jpg");
        background-size: cover;
        background-position: center;
        filter: grayscale(0%);
    }
}

body:hover>.about-us{
    animation: aboutMove linear 50s infinite;
}

.about-us:hover > .left-photo {
     animation-name: sherlock;
     animation-duration: 5s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
     animation-play-state: running;
 }

.about-us:hover > .right-photo {
    animation: proger linear 2s;
}




.advantages {
    display: grid;
    grid-template-rows: 110px 75px auto 100px;

    &-title {
        grid-row: 1;
    }

    .quality-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        justify-self: center;
        grid-row: 3;

        max-width: 1200px;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.4);

        .quality {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 1/span 2;

            .quality__image {
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-play-state: paused;
            }

            i {
                display:none;
            }
            .quality__description-block {
                display: grid;
                grid-template-rows: auto auto auto;
                align-items: start;
                position: relative;

                text-align: center;
                color: #777777;
                padding: 47px 40px;

                .quality__epigraph {
                    color: $main-color;
                    font-family: 'Kaushan Script', cursive;
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                }

                .quality__title {
                    color: #4f4b48;
                    font-family: 'Open Sans', Verdana, sans-serif;
                    font-weight: bold;
                    font-size: 1.3rem;
                    text-transform: uppercase;

                }
            }

            .quality__description-block:after {
                content: '';
                position: absolute;
                border: 25px solid transparent;
            }
        }

        .quality:hover > .quality__image {
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }

        .quality--1 {
            grid-row: 1;

            .quality__image {
                grid-column: 1;
                background: url("../img/price.jpg");
                animation-name: moveLeft;
            }

            .quality__description-block {
                grid-column: 2;
            }

            .quality__description-block:after {
                left: -50px;
                top: 70px;
                border-right: 25px solid white;
            }
        }

        .quality--1:hover > .quality__image {
            animation-name: moveLeft;
        }

        .quality--2 {
            grid-row: 2;

            .quality__image {
                grid-column: 2;
                background: url("../img/technology.jpg") right;
                animation-name: technoMove;
            }

            .quality__description-block {
                grid-column: 1;
                grid-row: 1;
            }

            .quality__description-block:after {
                right: -50px;
                top: 70px;
                border-left: 25px solid white;
            }
        }

        .quality--2:hover > .quality__image {
            animation-name: technoMove;
        }

        .quality--3 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column: 3;
            grid-row: 1/span 2;

            .quality__image {
                grid-column: 1;
                grid-row: 1;
                background-image:  radial-gradient(farthest-corner at 10% 100%,black 40%, black 40%, black 40%), url("../img/clean.jpg");
                background-position:center;
                background-size: 125%;
                animation-name: searchCode;
            }

            .quality__description-block {
                grid-column: 1;
                grid-row: 2;
            }

            .quality__description-block:after {
                left: 70px;
                top: -50px;
                border-bottom: 25px solid white;
            }
        }

        .quality--3:hover > .quality__image {
            animation-name: searchCode;
        }
    }
}

.tech-bar {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px 60px auto 130px;

    .tech-bar-title{
        grid-column: 2;
        grid-row: 1;
    }

    .tech-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        //justify-items: center;
        //align-items: center;
        //grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        list-style-type: none;
        grid-column: 1 / span 3;
        grid-row: 3;

        .tech-item {
            display: flex;
            width: 45%;
            //margin-right: 5px;
            //justify-content: space-around;
            //display: grid;
            align-items: center;
            //justify-content: space-around;
            padding: 27px 0;
            border-top: 1px solid #949494;
            transition: 1s;
            font-family: 'Alegreya Sans';
            font-size: 2rem;
            line-height: 55px;
            font-weight: bold;

            i {
                font-weight: normal;
                text-shadow: 0 0 15px rgba(0, 0 ,0 , 1);
                padding-left: 15px;
                margin-right: 50px;
            }

            &:last-of-type {
                border-bottom: 1px solid #949494;
            }

            &:nth-of-type(5) {
                border-bottom: 1px solid #949494;
            }

            &:hover {
                background-color: orange;
                transition: 1s;
                color: #fff;
            }

            .size {
                position: relative;
                text-align: center;
                width: 135px;
                height: 135px;
                font-size: 135px;
            }
        }
    }
}


.team-wrapper {
    display: grid;
    grid-template-rows: 110px 100px auto 100px;
    background-color: #e8e8e8;


    .team-title {
        grid-row: 1;
    }

    .team {
        display: grid;
        grid-template-columns: repeat(6, minmax(180px, 270px));
        justify-content: space-between;
        grid-gap: 25px;
        grid-row: 3;


        .associate {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            border-radius: 10px;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            height: 382px;
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
            transition: 0.5s;
            background-position: top;
            background-size: cover;

            .social {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                width: 50px;

                margin-bottom: auto;
                padding: 10px;
                height: 140px;
                background-color: rgba(0, 0, 0, 0.4);
                color: #ffffff;

                i {
                    cursor: pointer;
                }
            }

            .position {
                color: $main-color;
                font-family: 'Kaushan Script', cursive;
                font-size: 18px;
                font-weight: bold;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                text-align: right;
                padding-right:5px;
            }

            .name {
                background-color: rgba(0, 0, 0, 0.4);
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-transform: capitalize;
                color: white;
                padding: 20px 10px;
            }
        }

        .associate:hover  i:nth-child(1){
            animation:socialColor 2s linear infinite ;
        }

        .associate:hover  i:nth-child(2){
            animation:socialColor 2s linear 0.7s infinite ;
        }

        .associate:hover  i:nth-child(3){
            animation:socialColor 2s linear 1.4s infinite ;
        }

        .sed{
            background-image: url("../img/sed.jpg");
        }

        .zoom{
             background-image: url("../img/zoom.jpg");
         }

        .backend{
            background-image: url("../img/jchan.jpg");
        }

        .design{
            background-image: url("../img/eniston.jpg");
        }

        .seo{
            background-image: url("../img/lourens.jpg");
        }

        .support{
            background-image: url("../img/support.jpg");
        }

        #showMore, label{
            display:none;
        }
    }
}



.portfolio {
    display: grid;
    grid-template-columns: 100px  30px 1fr;
    grid-template-rows: 110px auto auto 50px;
    grid-row-gap: 20px;
    position: relative;

    .portfolio-title {
        grid-row: 1;
        grid-column: 1/span 3;
    }

    .portfolio-filter{
        display:grid;
        grid-row-gap: 10px;
        align-content: start;
        grid-column: 1;
        grid-row: 2;


        input{
            display: none;
        }

        input:checked + label{
            background-color: $active-color;
        }

        label{
            display:grid;
            align-content: center;
            width: 100px;
            height: 30px;
            border-radius:2px;
            color: white;
            background-color: rgba(0,0,0,0.6);
            text-align: center;
        }

        label:hover{
            background: $main-color
        }
    }

    &-gallery{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column wrap;
        align-content: space-around;
        overflow-x: hidden;
        grid-column: 3;
        grid-row: 2;
        max-height: 700px;
        padding-top: 5px;

        .examples{
            position: relative;
            height: 330px;
            width: 30%;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
            cursor: pointer;

            .icon-site{
                height: 100%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: auto;
                }
            }

            .project-detailed{
                display:none;
            }
        }

        .examples:nth-child(odd){
            height: 270px;
        }

        .examples:hover{
            box-shadow: 0 0 3px 3px rgba(255, 165, 0, 0.5);
        }

        .examples:after{
            content: "";
            font-family: "Font Awesome\ 5 Free";
            font-weight: 900;
            color: $main-color;
            font-size: 32px;
            position: absolute;
            top:0;
            padding-top: 45%;
            text-align: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
            transition: 1s;
        }

        .examples:hover:after{
            content: "\f06e";
            background: rgba(0, 0, 0, 0.4);

            transition: 1s;
        }
    }
}

.examples-detailed{
    grid-template-rows: 70vh 1fr;
    position: fixed;
    width: 90vw;
    top: 100vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 3px rgba(255, 165, 0, 0.5),
                inset 0 0 13px 2px black;
    background: url(../img/about-us-background.png) center top;
    cursor: pointer;
    z-index: 14;
    opacity: 0;

    .icon-site{
        justify-self: end;
        height: 100%;
        width: 90%;
        overflow-y: scroll;

        img{
            width: 100%;
            margin:0 -5px -5px 0;
        }
    }

    .project-detailed{
        display: grid;
        position:  relative;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto auto auto;
        align-content: space-between;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        background: transparent;
        padding: 10px 15px;
        font-size:1rem;


        .project-name{
            position: relative;
            grid-column: 1;
            grid-row: 1;
            color: $main-color;
            font-family: 'Audiowide', cursive;
            font-size: 3em;
            font-weight: bold;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            text-align: left;
            padding-right: 5px;
            white-space: nowrap;
        }

        .project-name:after{
            position: absolute;
            bottom: 0;
            content:'';
            display: block;
            width: 100%;
            height: 2px;
            background: rgba(0, 0, 0, 0.6);
        }

        .project-description{
            display:inline;
            grid-row: 2/span 2;
            grid-column: 1/span 2;
            font-family: cursive;
            font-size: 1.5em;
            max-width: 900px;
            color: rgba(0, 0, 0, 0.8);
        }

        .project-technology{
            display: grid;
            grid-row: 2/span 2;
            grid-template-columns: 1fr 1fr;

            height: 60px;
            min-width: 180px;
            margin-left:auto;
            font-size: 1.2em;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.8);
            transform: skewX(-10deg);

            li{
                list-style-type: none;
                font-family: 'Kaushan Script', cursive;
                font-size: 1.3em;
            }

        }
    }

    .close-form{
        content: '';
        font-weight: 900;
        color: $main-color;
        font-size: 32px;
        position: absolute;
        top: 5px;
        right: -25px;
    }
}



.feedback{
    display:grid;
    grid-template-rows: 110px 70px auto 40px auto 100px;
    grid-template-columns: 100%;
    justify-content: center;
    background: rgb(232, 232, 232);

    .feedback-title{
        grid-row:1;
    }

    .contact{
        display:grid;
        grid-template-columns: 1fr 600px;
        grid-template-rows: repeat(3, 50px) 10px 60px;
        grid-gap: 20px;
        grid-row: 3;



        .input{
            border:0;
            padding:20px 20px;
            text-align: justify;
            transition: 1s;
            border-radius:10px;
        }

        .input:hover, .textarea-wrapper:hover{
            box-shadow:  0 0 2px 2px rgba(265,165,0, 0.5);
            transition: 0.5s;
        }

        .input:focus, .textarea-wrapper:focus{
            box-shadow:  0 0 2px 2px rgba(265,165,0, 0.5);
        }

        .input::-webkit-input-placeholder, textarea-wrapper::-webkit-input-placeholder{
            opacity: 1;
            transition: opacity 0.5s ease;
        }
        .input:focus::-webkit-input-placeholder, .textarea-wrapper:focus::-webkit-input-placeholder{
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .user-name{
            grid-column: 1;
            grid-row: 1;
        }

        .user-phone{
            grid-column: 1;
            grid-row: 2;
        }

        .user-mail{
            grid-column: 1;
            grid-row: 3;
        }

        .textarea-wrapper{
            grid-column: 2;
            grid-row: 1/span 3;
            position: relative;
            overflow: hidden;
            border-radius:10px;


            .user-message{
                height: 100%;
                width: 100%;
                resize:none;
                overflow-y: auto;
                border:0;
                padding:20px 20px;
                text-align: justify;
            }

            &:before, &:after {
                content:'';
                display: block;
                background: white;
                height: 20px;
                position: absolute;
                left: 20px;
                right: 20px;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }
        }

        .counter{
            grid-column: 2;
            grid-row: 4;
            text-align: right;
            padding-right: 10px;
            color: rgb(156, 156, 156);
            opacity: 0;
            transition: opacity 1s ease;
        }

        .counterVisible{
            opacity: 1;
            transition: opacity 1s ease;
        }

        .contact-send{
            grid-column: 2;
            grid-row: 5;
            justify-self: end;
            border-radius: 20px;
            width: 200px;
        }
    }

    .reviews-block {
        display: grid;
        grid-template-columns: 35px 1fr 35px;
        grid-row: 5;
        grid-column-gap: 30px;
        align-items: center;
        justify-content: center;

        .arrow-up{
            display:none
        }

        .arrow-down{
            @extend .arrow-up;
        }

        .arrow-left {
            display: block;
            grid-column: 1;
            justify-self: center;
            text-shadow: 8px 0 5px -5px #333;
            cursor: pointer;
        }

        .arrow-right {
            @extend .arrow-left;
            grid-column: 3;
            text-shadow: -8px 0 5px -5px #333;
        }

        .activeReview {
            grid-column: 2;
            display: inline-block;
            overflow: hidden;


            .allReviews {
                display: grid;
                grid-template-columns: repeat(12, 50%);
                position: relative;
                top: 0;
                left: 0;
                transition: 1s;

                .review {
                    display: grid;
                    grid-template-rows: 25px 18px 20px 20px auto;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 15px;

                    height: auto;
                    padding: 0 15px;
                    color: #bcbcbc;

                    .avatar {
                        grid-row: 1/span 3;
                        grid-column: 1;

                        border-radius: 50%;
                    }

                    .author-name {
                        grid-row: 1;
                        grid-column: 2;

                        display: inline-block;
                        font-size: 1.5rem;
                        color: $main-color;
                        text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
                    }

                    .author-position{
                        @extend .author-name;
                        font-size: 0.9em;
                        grid-row: 2;
                        color: rgba(265, 165, 0, 0.7);
                    }

                    .comment-body {
                        grid-row: 5;
                        grid-column: 1/span 2;

                        padding: 0 10px;
                        text-align: justify;
                        line-height: 33px;
                    }
                }
            }
        }
    }
}



///Primitive footer

.footer{
    display: grid;
    grid-template-columns:auto 200px 200px;
    grid-template-rows:50px repeat(2, 20px) repeat(2, 30px) 40px;
    justify-content: space-between;

    background-color: #292929;
    color:white;

    .footer__contact-name{
        grid-column: 1;
        grid-row: 2;
    }

    .footer__contact-address{
        grid-column: 1;
        grid-row: 3;
    }

    .footer__contact-phone{
        grid-column: 1;
        grid-row: 5;
    }

    .footer__friendly{
        grid-column: 2;
        grid-row:2;

        text-align: center;
    }

    .footer__contact-social{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column: 2;
        grid-row: 4/span 2;
        grid-column-gap: 6px;

        .footer__social-img{
            display: grid;
            justify-content: center;
            align-items: center;
            border: 1px solid #3e3e3e;
        }

        .vk{
            background: url("../img/vk-icon-small.png") no-repeat center;
        }

        .fb{
            background: url("../img/fb-icon-small.png") no-repeat center;
        }

        .inst{
            background: url("../img/insta-icon-small.png") no-repeat center;
        }
    }

    .footer__create-by{
        display: grid;
        grid-column: 3;
        grid-row: 2;
        text-align: center;

        font-size:  1.3rem;
    }

    .footer__development-name{
        display: grid;
        grid-row: 4/span 2;
        grid-column: 3;
        align-items: center;

        font-family: 'Audiowide', cursive;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #3e3e3e;
    }
}

//media-queries
@media screen and (max-width: 1365px){

    body>*{
        padding:$main-middle-indent;
    }

    .quality__description{
        font-size: 1.1rem;
    }

    //.about-us {
    //    display: grid;
    //    grid-template-columns: 200px repeat(4, 1fr) 200px;
    //    grid-template-rows: 110px repeat(3, 1fr) 100px;
    //    font-size: 1.4rem;
    //
    //    .about-description1 {
    //        grid-column: 2 / span 5;
    //    }
    //
    //    .about-description2 {
    //        grid-column: 2 / span 4;
    //    }
    //
    //    .about-description3 {
    //        grid-column: 1 / span 5;
    //    }
    //
    //    .left-photo {
    //        grid-column: 1 / 2;
    //        grid-row: 2 / 4;
    //    }
    //
    //    .right-photo {
    //        grid-column: 6 / 7;
    //        grid-row: 3 / 5;
    //    }
    //}

    .quality__description{
        font-size: 1.1rem;
    }

    .team-wrapper {
        .team {
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 270px));
            justify-content: space-around;
        }
    }
}
@media screen and (max-width: 1024px){

    body>*{
        padding:$main-middle-indent;
    }

    //header
    .header {
        .nav-bar {
            padding: $main-middle-indent;

            a {
                text-transform: none;
            }

            .button--header {
                height: 40px;
                width: 125px;
            }
        }

        .fix-nav{
            padding: 0 12px;
            grid-column-gap: 12px;
        }
    }

    .tech-bar  {
        .tech-list {
            .tech-item {
                width: 100%;
                font-size: 1.5rem;

                &:nth-of-type(5) {
                    border-bottom: none;
                }

                .size {
                    position: relative;
                    text-align: center;
                    width: 100px;
                    height: 100px;
                    font-size: 100px;
                }
            }
        }
    }

    .portfolio {
        grid-template-columns: 1fr;
        grid-template-rows: 110px 15px auto 15px auto 100px;

        .portfolio-title {
            grid-column: 1;
        }

        .portfolio-filter {
            grid-column: 1;
            grid-row: 3;
            justify-content: space-between;
            grid-auto-flow: column;
        }

        &-gallery {
            grid-row: 5;
            grid-column: 1;
        }
    }

    //feedback
    .feedback {
        .contact {
            grid-template-columns: 1fr 500px;
            grid-template-rows: repeat(3, 65px) 10px 60px;
        }
    }

    //footer
    .footer {
        grid-template-columns: 1fr 1fr auto 210px;
        grid-template-rows: 40px 45px 30px 30px 50px 100px 60px;

        .footer__contact-name{
            grid-column: 1;
            grid-row: 2;
        }

        .footer__contact-address{
            grid-column:1;
            grid-row:3;
        }

        .footer__contact-phone{
            grid-column: 1;
            grid-row: 4;
        }

        .footer__friendly{
            display: none;
        }

        .footer__contact-social{
            grid-column: 1/span 4;
            grid-row: 6;
            grid-column-gap: 0;
        }

        .footer__create-by{
            grid-column: 4;
            grid-row: 2;
        }

        .footer__development-name{
            grid-column: 4;
            grid-row: 3/ span 2;
        }
    }
}
@media screen and (max-width: 900px) {
    .logo-description{
        display:grid;
        grid-column: 2;
        width: auto;
        height: 50px;
        justify-self: center;
    }

    .header{
        grid-template-rows: auto 100px 450px 100px;
        .nav-bar{
            .logo{
                display:none;
            }

            .logo-menu{
                display: grid;
                grid-column: 1;
                align-items: center;

                position: relative;
                top: 5px;
                width: 75px;
                height: 75px;
                cursor: pointer;

                img{
                    position: absolute;
                    width: 75px;
                }
                opacity: 0.9;
            }

            .menu-link{
                display:none;
            }

            .mini-menu-link {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 40px);
                grid-column: 1;

                width: 100%;
                position: absolute;
                top: 110px;

                li {
                    display: flex;
                    border-bottom: 2px solid transparent;
                    align-items: center;
                    justify-content: center;

                    background: rgb(64, 64, 64);
                    border-bottom:1px solid $main-color;

                    a {
                        position:relative;
                        left: -22px;
                        color:#f8f9fa;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }

                li:hover {
                   color: $main-color;
                    a {
                        color: $main-color;
                    }
                }
            }
        }
    }



    .header-small{
        grid-template-rows: auto 250px 400px 20px;
    }

    .header {
        .nav-bar{
            .mini-menu-link{
                top: 75px;
            }
        }

        .header-content{
        margin: $main-middle-indent;
        }
    }



    .hammer{
        top: 0;
        right: 0;
        transition: 1s;
    }
    .hatchet{
        top: 25px;
        left: 0;
        transition: 1s;
    }

    .hammerRotate{
        top: 27%;
        right: 0%;
        transform: rotate(50deg) scaleX(-1);
        transition: 1s;
    }
    .hatchetRotate{
        top: 36%;
        left: 10%;
        transform: rotate(130deg);
        transition: 1s;
    }

    .advantages {
        .quality-wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 300px);

            .quality--2{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column: 1;
                grid-row: 2/span 3;

                .quality__image{
                    grid-column: 1;
                    grid-row: 2;
                }

                .quality__description-block {
                    grid-column: 1;
                    grid-row: 1;
                }

                .quality__description-block:after {
                    right: 50px;
                    top: 300px;
                    border:25px solid transparent;
                    border-top: 25px solid white;
                }
            }

            .quality--3{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column: 2;
                grid-row: 2/span 3;

                .quality__image{
                    grid-column: 1;
                    grid-row: 1;
                }

                .quality__description-block {
                    grid-column: 1;
                    grid-row: 2;
                }

                .quality__description-block:after {
                    left: 50px;
                    top: -50px;
                    border-bottom: 25px solid white;
                }
            }
        }
    }

    .team-wrapper {
        .team {
            justify-content: space-between;
        }
    }

    //feedback
    .feedback {
        .contact {
            grid-template-columns: 1fr 400px;
            grid-template-rows: repeat(3, 65px) 50px;

            .counter{
                text-align: left;
            }

            .contact-send{
                grid-row: 4;
                height: 50px;
            }
        }

        .reviews-block{
            grid-template-columns: 1fr;
            grid-template-rows: 35px auto 35px;

            .arrow-up {
                display: block;
                grid-row: 1;
                justify-self: center;
                text-shadow: 0 8px 5px -5px #333;
                cursor: pointer;
            }

            .arrow-down {
                grid-row: 3;
                text-shadow: 0 -8px 5px -5px #333;
            }

            .arrow-left {
                display: none;
            }

            .activeReview{
                grid-column: 1;

                .allReviews{
                    display: grid;
                    grid-template-columns:auto;
                    grid-template-rows:  repeat(12, 50%);
                    grid-auto-flow: column;

                    .review{
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    body > *{
    padding: 0 30px;
    }
    .header {

        .header-content {
            .heading{
                font-size: 4rem;
            }
        }
    }

    .about-us {
        grid-template-rows: 110px 40px repeat(6, auto) 100px;

        .description-heading1 {
            grid-column: 1 / sapn 2;
            grid-row: 3;
        }

        .description-heading2 {
            grid-column: 1 / sapn 2;
            grid-row: 5;
        }

        .description-heading3 {
            grid-column: 1 / sapn 2;
            grid-row: 7;
        }

        .about-description1 {
            grid-column: 1 / sapn 2;
            grid-row: 4;
        }

        .about-description2 {
            grid-column: 1 / sapn 2;
            grid-row: 6;
        }

        .about-description3 {
            grid-column: 1 / sapn 2;
            grid-row: 8;
        }
    }

    .tech-bar  {
        .tech-bar-wrapper {

            .img-technology {
                .size {
                    position: relative;
                    text-align: center;
                    width: 150px;
                    height: 150px;
                    font-size: 150px;
                }
            }
        }
    }

    .team-wrapper {
        .team {
            grid-template-columns: repeat(2, minmax(200px, 270px));
            justify-content: space-around;
        }
    }

    .portfolio{
        .portfolio-filter{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            label{
                margin:5px 0;
                width: 85px;
            }
        }

        &-gallery {
            max-height: 1000px;
            .examples{
                 width: 45%;
            }

            .examples:last-child{
                height: 270px;
            }
        }
    }

    //feedback
    .feedback {
        .contact {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 30px) 200px 10px 60px;
            grid-row-gap: 20px;

            .textarea-wrapper{
                grid-column: 1;
                grid-row: 4;
            }

            .counter{
                grid-column: 1;
                grid-row: 5;
                text-align: left;
            }

            .contact-send{
                grid-column: 1;
                grid-row: 5;
                justify-self: end;
                border-radius: 20px;
                width: 200px;
            }
        }
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 35px 20px 20px 50px 100px 20px 50px  50px;
        grid-row-gap: 10px;
        justify-content: center;
        text-align: center;

        .footer__contact-name{
            grid-column: 1;
            grid-row: 2;
        }

        .footer__contact-address{
            grid-column: 1;
            grid-row: 3;
        }

        .footer__contact-phone{
            display:flex;
            align-items: center;
            justify-content: center;
            grid-column: 1;
            grid-row: 4;

        }

        .footer__friendly{
            display: none;
        }

        .footer__contact-social{
            grid-column: 1;
            grid-row: 5;
        }

        .footer__create-by{
            grid-column: 1;
            grid-row: 6;
        }

        .footer__development-name{
            grid-column: 1;
            grid-row: 7;
        }
    }
}
@media screen and (max-width: 600px) {
    body > * {
        padding: $main-small-indent;
    }

    .header{
        grid-template-rows: auto 120px 300px 100px;

        .nav-bar{
            padding: 0 10px;
            grid-column-gap: 10px;

            .button--header{
                width: 90px;
            }
        }

        .header-content {
            grid-template-rows: 2fr 1fr 5fr 1fr 1fr;
            margin: 0 30px;
            padding: 30px 20px;

            .heading {
                font-size:  3rem;
            }

            .description{
                font-size: 1.3rem;
            }

            .button{
                width: 150px;
                height: 50px;
                font-size: 1.2rem;
            }
        }
    }

    .header-small{
        grid-template-rows: auto 250px 300px 20px;
    }

    .advantages {
        grid-template-columns: auto;
        grid-template-rows: 110px 30px auto 100px;
        .quality-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            grid-row-gap: 40px;
            box-shadow: none;
            width: 100%;

            .quality{
                grid-template-rows: 200px auto;
                border-radius: 10px;
                box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
                overflow: hidden;

                .quality__image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    border-radius: 10px;
                    cursor: pointer;

                    i {
                        display:block;
                        font-size: 34px;
                        color: rgba(255,165,0,0.8);
                    }
                }

                .quality__image:hover>i{
                    display:none;
                }
            }

            .quality--1{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                grid-column: 1;
                grid-row: 1;

                .quality__image{
                    grid-column: 1;
                    grid-row: 1;
                }

                .quality__description-block {
                    grid-column: 1;
                    grid-row: 2;
                }

                .quality__description-block:after {
                    display:none;
                }
            }

            .quality--2{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                grid-column: 1;
                grid-row: 2;

                .quality__image{
                    grid-column: 1;
                    grid-row: 1;
                }

                .quality__description-block {
                    grid-column: 1;
                    grid-row: 2;
                }

                .quality__description-block:after {
                    display:none;
                }
            }

            .quality--3{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                grid-column: 1;
                grid-row: 3;

                .quality__image{
                    grid-column: 1;
                    grid-row: 1;
                }

                .quality__description-block {
                    grid-column: 1;
                    grid-row: 2;
                }

                .quality__description-block:after {
                    display:none;
                }
            }
        }
    }

    .portfolio {
        .portfolio-filter{
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: 30px 30px;

            label{
                margin:5px 0;
                width: 100px;
            }
        }

        &-gallery {
            flex-wrap: nowrap;
            max-height: 2000px;
            .examples{
                width: 75%;
                margin: 20px auto;
            }

            .examples:last-child{
                height: 320px;
            }

            .examples:after{
                padding-top:35%;
            }
        }
    }

    .examples-detailed{
        grid-template-rows: 60vh 1fr;
        .project-detailed{
            font-size: 1.1rem;
            .project-description{
                grid-column: 1/span 2;
                grid-row: 2;
            }

            .project-technology{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                grid-column: 1/span 2;
                grid-row: 3;
                flex-flow: row wrap;
                margin-left: 0;
                max-height: 40px;

                li{
                    margin:0 3px;
                }

            }
        }
    }

    .team-wrapper {
        .team {
            grid-template-columns: 350px;
            justify-content: center;
        }
    }

    .feedback {
        .contact {
            grid-template-rows: repeat(3, 30px) 250px 40px;
        }
    }
}
@media screen and (max-width: 400px) {
    .header{
        grid-template-rows: auto 120px 300px 20px;
        .logo-description{
            display: none;
        }
        .header-content {
            margin:0 10px;
            padding: 30px 15px;
            .heading{
                font-size: 2.5rem;
            }
            .description{
                font-size: 1.2rem;
            }
        }
    }

    .header-small{
        grid-template-rows: 75px 250px 300px 20px;
    }

    .team-wrapper {
        .team {
            grid-template-columns: minmax(200px, 300px);
            justify-content: center;
        }
    }
    .portfolio {
        .portfolio-filter{
            grid-template-columns: repeat(2, 100px);
            grid-template-rows: repeat(3, 30px);
        }

        &-gallery {
            .examples {
                width: 85%;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .tech-bar  {
        .tech-bar-wrapper {
                .img-technology {
                .size {
                    position: relative;
                    text-align: center;
                    width: 80px;
                    height: 80px;
                    font-size: 80px;
                }
            }
        }
    }
}

// Notebook
//
.notebook {
    position: relative;
    font-size: 4px; // this defines the comple notebook size
    width: 100%;
    margin: 50px auto;

    .display {
        width: 77.5em;
        height: 52.5em;
        margin: 0 auto;
        border: 2.5em solid #333;
        overflow-y: scroll;

        img{
            width: 100%;
        }

        &:before {
            content: '';
            position: absolute;
            top: 2.5px;
            left: 50%;
            margin-left: 2.5px;
            width: 5px;
            height: 5px;
            background: #ccc;
        }
    }


    .bottom {
        position: relative;
        width: 100em;
        height: 2.5em;
        background: #cccccc;
        margin: 0 auto;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -6em;
            width: 12em;
            height: 1em;
            background: #8e8e8e;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -1em;
            left: 0;
            right: 0;
            border-top: 1em solid #959595;
            border-left: 2em solid transparent;
            border-right: 2em solid transparent;
        }
    }
}
